* {
  padding: 0;
  margin: 0;
}
:root {
  --brand-color: #2196f3;
  --common-text-color: #757575;
  --primary-black: #212121;
  --background-black: #2f303a;
  --backgroud-grey: #f5f4fa;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: normal;
  color: var(--common-text-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.logo-web {
  color: var(--brand-color);
}
.logo-studio {
  color: var(--primary-black);
}
.logo-web-footer {
  color: var(--brand-color);
}
.logo-studio-footer {
  color: white;
}
.navigation-footer li a:hover,
.navigation-header li a:hover,
.contacts-header li a:hover,
.navigation-footer li a:focus svg,
.navigation-header li a:focus svg,
.contacts-header li a:focus svg {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.navigation-footer li a,
.navigation-header li a,
.contacts-header li a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.about {
  color: var(--primary-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}
.worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
}
.worker-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.what-are-we-doing,
.our-team {
  color: var(--primary-black);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.solutions {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 700px;
  margin: 0 auto;
}
.button-index {
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  /* height: 50px; */
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttons > li > button {
  border: none;
  border-radius: 5px;
  background: #f5f4fa;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.buttons > li > button:hover {
  color: white;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons > li > button:focus {
  color: white;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons > li > button {
  color: var(--primary-black);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
.contacts-header a {
  color: var(--common-text-color);
}
a:visited {
  color: inherit;
}
.navigation-header a {
  color: var(--primary-black);
}
.navigation-header .active-link a {
  color: var(--brand-color);
}
.team p {
  text-align: center;
}
.navigation-footer a {
  color: var(--common-text-color);
}
#location {
  color: #ffffff;
}
a:focus {
  color: var(--brand-color);
}
button {
  cursor: pointer;
  font-family: inherit;
}
footer {
  background-color: var(--background-black);
}
.navigation-header li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.contacts-header li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.navigation-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  font-style: normal;
}
.navigation-footer li a {
  color: rgba(255, 255, 255, 0.6);
}
#location {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

#location:hover {
  color: var(--brand-color);
}
.project-name {
  color: var(--primary-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
.navigation-header:active {
  color: var(--brand-color);
}
.active-link {
  color: var(--brand-color);
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-navigation ul {
  display: flex;
  margin-left: 93px;
}
.container-navigation li {
  margin-right: 50px;
}
.container-navigation li:last-child {
  margin-right: 331px;
}
.container-contacts-header ul {
  display: flex;
}
.container-contacts-header li {
  margin-right: 50px;
}
.container-contacts-header li:last-child {
  margin-right: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* text-align: center; */
}
.section-hero {
  background-color: var(--background-black);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: right calc(50%) top calc(50%);
  margin: 0 auto;
  width: 1600px;
}
/* main,
header,
footer {
  width: 1600px;
  margin: 0 auto;
} */
.regular-clients {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
}
.section:first-child {
  padding-top: 0px;
}
.section-what-are-we-doing {
  padding-bottom: 94px;
}
#workers {
  background-color: #f5f4fa;
}
.about-wrapper {
  display: flex;
}
h1 {
  max-width: max-content;
  text-align: center;
}
.about-wrapper li {
  width: 270px;
  margin-right: 30px;
}
.about-wrapper li:last-child {
  margin-right: 0px;
}
.about-wrapper p {
  margin-top: 10px;
}
.what-are-we-doing-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.what-are-we-doing-wrapper li {
  margin-right: 30px;
}
.what-are-we-doing-wrapper li:last-child {
  margin-right: 0px;
}
.our-team-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.our-team-wrapper > li {
  margin-right: 30px;
}
.our-team-wrapper li:last-child {
  margin-right: 0px;
}
.footer-contacts-wrapper li {
  margin-top: 9px;
}
.footer-contacts-wrapper li:first-child {
  margin-top: 0px;
}
address {
  margin-top: 20px;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.container-navigation {
  padding-top: 32px;
  padding-bottom: 32px;
}
.container-contacts-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.worker-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.worker-card-content {
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.worker-position {
  margin-top: 10px;
}
header {
  border-bottom: 1px solid #ececec;
}
.buttons-portfolio-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-portfolio-wrapper li {
  margin-right: 8px;
}
.buttons-portfolio-wrapper li:last-child {
  margin-right: 0px;
}
.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.projects-wrapper li {
  margin-right: 30px;
}
.projects-wrapper li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-wrapper li:nth-child(3n) {
  margin-right: 0px;
}
/* .projects-wrapper li{
  margin-right: 30px;
} */
.projects-wrapper li {
  margin-bottom: 30px;
}
.portfolio-headline {
  visibility: hidden;
}
.portfolio-content {
  flex-grow: 1;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 24px 20px;
  border-top: 0;
}
.portfolio a {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.portfolio a:hover,
.portfolio a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio a {
  display: block;
}
.project-name {
  margin-bottom: 4px;
}
.buttons button {
  padding: 6px 22px;
}
#buttons {
  padding-top: 94px;
}
.navigation-header ul {
  display: flex;
}
.contacts-header {
  display: flex;
  margin-left: auto;
}
.container-header {
  display: flex;
  align-items: center;
}
/* #workers{
  width: 1600px;
  margin: 0 auto;
} */
.contacts-header > li {
  margin-right: 50px;
}
.contacts-header > li:last-child {
  margin-right: 0px;
}
.navigation-header li {
  margin-right: 50px;
}
.navigation-header li:last-child {
  margin-right: 0;
}

.logo {
  margin-right: 93px;
}
.portfolio img {
  display: block;
}
.studio-ul a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.icons-about {
  /* border: 1px solid black; */
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--backgroud-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.satelite-icon {
  background-position: center;
  display: block;
}
.header-icons {
  fill: var(--common-text-color);
  display: flex;
  align-items: baseline;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
}
.phone-icon,
.mail-icon{
  fill: var(--common-text-color);
}
.mail:hover svg,
.phone:hover svg,
.mail:focus svg,
.phone:focus svg {
  color: var(--brand-color);
  fill: var(--brand-color);
}


.phone,
.mail {
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.phone svg,
.mail svg{
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.worker-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.worker-icons svg {
  fill: #afb1b8;
}
.worker-icons-background svg{
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.worker-icons-background {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.worker-icons-background:hover {
  background-color: var(--brand-color);
}
.worker-icons-background:hover svg {
  fill: #ffffff;
}
.worker-icons-background:focus{
  background-color: var(--brand-color)
}
.worker-icons-background:focus svg {
  fill: #ffffff;
}
.worker-icons li {
  margin-right: 10px;
}
.clients-cards {
  display: flex;
  margin-top: 50px;
  /* justify-content: space-between; */
}
.clients-cards li {
  border: 1px solid #afb1b8;
  margin-right: 30px;
}
.clients-cards li:last-child {
  margin-right: 0px;
}
.client-wrapper:hover,
.client-wrapper:focus {
  border: 1px solid var(--brand-color);
}
.client-wrapper:hover svg,
.client-wrapper:focus svg {
  fill: var(--brand-color);
}
.client-wrapper-href{
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.client-wrapper-href:focus{
  border: 1px solid var(--brand-color);
}
.client-wrapper-href:focus svg{
fill: var(--brand-color);
}
.clients {
  text-align: center;
}
.client-wrapper a {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.client-wrapper a svg {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
/* .client-icon{
  width: 106px;
  height: 60px;
  padding-top: 16px;
} */
.client-wrapper-href {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.footer-svg-container {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer-svg-container:hover,
.footer-svg-container:focus {
  background-color: var(--brand-color);
}
/* .footer-svg-container {
  margin-right: 10px;
} */
.footer-icons-container li {
  margin-right: 10px;
}
.footer-icons-container li:last-child {
  margin-right: 0px;
}
/* .footer-svg-container:last-child{
margin-right: 0px;
} */
.footer-icons-container {
  display: flex;
  margin-right: 10px;
  margin-top: 20px;
  justify-content: space-around;
}
.footer-icons-container:last-child {
  margin-right: 0px;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio a:hover .overlay {
  transform: translateY(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > .overlay-text {
  color: #fff;
  margin: 0;
  font-size: 18px;
  padding: 63px 24px;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.what-are-we-doing-image {
  position: relative;
}
.what-are-we-doing-label {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
.what-are-we-doing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.active-link::after {
  content: "";

  position: absolute;
  left: 0;
  top: 96%;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--brand-color);
  border-radius: 2px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(0deg);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: skew(50deg);
  pointer-events: none;
}